<!doctype html>
<html lang=en>
<head>
<title>List</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
td,th { font-size:12px; font-family: Arial, Helvetica, sans-serif; padding: 5px;}
table { border-collapse: collapse; border-spacing: 0px 10px;}
</style>
</head>

<body>

<table>
<tr>
    <th>Loc/Aisle</th>
    <th>Qty</th>
    <th>Item</th>
    <th>Notes</th>
</tr>


<TMPL_LOOP NAME="items">
    <tr>
	<TMPL_IF NAME="newloc">
	    <td style="border-top: 1px solid black; text-align:center;"><b><TMPL_VAR NAME="loc"></b></td>
	    <td style="border-top: 1px solid black"><TMPL_VAR NAME="qty"></td>
	    <td style="border-top: 1px solid black"><TMPL_VAR NAME="item"></td>
	    <td style="border-top: 1px solid black"><TMPL_VAR NAME="notes"></td>
	<TMPL_ELSE>
	    <td>&nbsp;</td>
	    <td><TMPL_VAR NAME="qty"></td>
	    <td><TMPL_VAR NAME="item"></td>
	    <td><TMPL_VAR NAME="notes"></td>
	</TMPL_IF>
    </tr>
</TMPL_LOOP>
</table>
</body>
