<!doctype html>
<html lang=en>
<head>
<title>TBR Stacks</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#TBR {
    font-family: sans-serif;
    border-collapse: collapse;
}

#TBR td, #TBR th {
    border: 1px solid black;
    padding: 8px;
}

#TBR th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #cce6ff;
}
</style>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Stack', 'Weight'],
      <TMPL_LOOP NAME="weights">
      ['<TMPL_VAR NAME="ename">',<TMPL_VAR NAME="weight">],
      </TMPL_LOOP>
    ]);

    var options = {
      title: 'Pick Probabilities',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>

</head>

<body>

<table id="TBR">
<caption>TBR Stacks</caption>
<tr>
    <th>Stack<br>(<span style="color:green">Eligible</span> / <span style="color:red">Ineligible</span>)</th>
    <!-- <th>Last Picked</th> -->
    <th>MinAge</th>
    <th>Age</th>
    <th>Titles<br>(<span style="color:black;font-weight:bolder;">Owned</span> / <span style="color:gray">Unowned</span>)</th>
</tr>


<TMPL_LOOP NAME="stacks">
    <tr>
	<td><b><span style="color:<TMPL_IF NAME="eligible">green<TMPL_ELSE>red</TMPL_IF>"><TMPL_VAR NAME="name"></span></b></td>
	<!-- <td><TMPL_VAR NAME="lastread"></td> -->
	<td><TMPL_VAR NAME="minage">d</td>
	<td><TMPL_VAR NAME="age">d</td>

	<td>
	    <TMPL_IF NAME="titles">
	    <ol>
	    <TMPL_LOOP NAME="titles">
	    <li> <span style="<TMPL_IF NAME="owned">color:black;font-weight:bolder<TMPL_ELSE>color:gray</TMPL_IF>"><i><TMPL_VAR NAME="title"></i></span><br>
	    <TMPL_VAR NAME="author"><br>
	    (<TMPL_VAR NAME="asin">)

	    </TMPL_LOOP>
	    </ol>
	    <TMPL_ELSE>
	         [empty]
	    </TMPL_IF>
	</td>
    </tr>
</TMPL_LOOP>
</table>

<p>
<div id="piechart_3d" style="width: 900px; height: 500px;margin: auto;"></div>
</body>
